.js-silder{
    position: relative;
    width: 100%;
    height:600px;
}
.silder-scroll{
    width: 100%;
    height:600px;
    overflow: hidden;
}
.silder-main{
    position: relative;
    width: 100%;
    height:600px;
    overflow: hidden;
}
.silder-main-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.silder-main-img img{
    width: 100%;
    height:600px;

}
.js-silder-ctrl{
    width: 100%;
    text-align: center;
}
.silder-ctrl-prev,
.silder-ctrl-next{
    position: absolute;
    top: -200px;
    width: 8%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    font-family: "宋体";
    font-size: 52px;
    font-weight: 600;
    text-shadow: #666 2px 2px 5px;
}
.silder-ctrl-prev{
    left: 0;
    text-align: left;
}
.silder-ctrl-next{
    right: 0;
    text-align: right;
}
.silder-ctrl-prev>span,
.silder-ctrl-next>span{
    position: absolute;
    top: 50%;
    margin-top: -40px;
}
.silder-ctrl-prev>span{
    left: 100%;
}
.silder-ctrl-next>span{
    right: 100%;
}
.silder-ctrl-con{
    display: inline-block;
    width: 4%;
    padding: 10px 0;
    margin: 0 10px;
    cursor: pointer;
}
.silder-ctrl-con>span{
    display: block;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    padding: 5px 0;
    cursor: pointer;
    background-color: #e4e4e4;
}
.silder-ctrl-con.active>span{
    background-color: #7bbedf;
}
.js-silder-ctrl{
    position: absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:auto;
}